.footer {
    background-color: #2F303A;
}

.footer__container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    margin-bottom: 20px;
    
    color: #FFFFFF;
}

.footer__join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.footer__field {
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: transparent;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer__modal-btn {
    @extend %modal-btn;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__icon {
    margin-left: 10px;
}

// mobile
@media screen and (max-width:767px) {
    .footer {
        &__field {
            width: 100%;
        }
    }
}

@media screen and (min-width:768px) {
    .footer {
        &__container {
            display: flex;
            align-items: baseline;
        }
    }
}

// tablet
@media screen and (min-width:768px) and (max-width:1199px) { 
    .footer {
        &__container {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__form {
            margin-top: 60px;
        }

        &__field {
        width: 450px;
        }
    }
}

@media screen and (max-width:1199px) {
    .footer {
        &__container {
            text-align: center;
        } 

        &__wrapper {
            display: block;
        }

        &__field {
            margin-bottom: 20px;
        }

        &__modal-btn {
            margin: 0 auto;
        }
    }
}

// desktop
@media screen and (min-width:1200px) {
    .footer {
        &__container {
            justify-content: space-between;
        }

        &__wrapper {
            display: flex;
        }

        &__field {
            margin-right: 12px;
            width: 358px;
        }
    }
}