// mobile
.hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/bg-mobile.jpg);
    background-position: center;
    background-size: cover;

    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    @media (min-device-pixel-ratio: 2) and (max-width:767px),
    (-webkit-min-device-pixel-ratio: 2) and (max-width:767px),
    (min-resolution: 192dpi) and (max-width:767px),
    (min-resolution: 2dppx)  and (max-width:767px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile@2x.jpg);
    }
}

.hero__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__modal-btn {
    @extend %modal-btn;
}

// tablet

@media screen and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2) and (max-width:1199px),
    (-webkit-min-device-pixel-ratio: 2) and (max-width:1199px),
    (min-resolution: 192dpi) and (max-width:1199px),
    (min-resolution: 2dppx)  and (max-width:1199px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet@2x.jpg);
        }
    }
}

// desktop

@media screen and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desktop.jpg);

        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media (min-device-pixel-ratio: 2) and (max-width:1600px),
    (-webkit-min-device-pixel-ratio: 2) and (max-width:1600px),
    (min-resolution: 192dpi) and (max-width:1600px),
    (min-resolution: 2dppx)  and (max-width:1600px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desktop@2x.jpg);
        }
    }

    .hero__title {
        font-size: 44px;
        line-height: 1.36;
    }
}
   