.address {
    font-style: normal;
}

.address__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address__link_map {
    color: #FFFFFF;
}

