.general-social-list {
    display: flex;
    justify-content: center;
}

.general-social-list__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.general-social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.general-social-list__icon {
    width: 20px;
    height: 20px;
    fill: #fff; 
}