.logo {
    display: block;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;

    &__accent {
        color: var(--accent-color);
    }  
}

@media screen and (min-width:768px) {
    .logo {
        margin-right: 88px;
    }
}

@media screen and (min-width:1200px) {
    .logo {
        margin-right: 93px;
    }
}