@media screen and (max-width:767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: #fff;
    
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
    }
    
    .mobile-menu__container {
        padding: 48px 15px 48px 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .mobile-menu__btn {
        position: absolute;
        top: 10px;
        right: 15px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: transparent;
        padding: 0;
        border: 0;
        line-height: 0;
        transition: fill var(--transition-duration) var(--transition-timing-function);
        cursor: pointer;
    
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }

    .mobile-menu__icon {
        width: 40px;
        height: 40px;
    }
    
    .mobile-menu__nav-item {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    
    .mobile-menu__nav-link {
        color: #212121;
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .mobile-menu__tell {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #2196F3;
    }

    .mobile-menu__maill {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .mobile-menu__element {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    
    .mobile-menu__social {
        display: flex;
        flex-wrap: wrap;
        margin-top: 64px;
    }

    .mobile-menu__social-item {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        &:not(:last-child)::after {
            content: '';
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            margin-left: 10px;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    
    .mobile-menu__social-link {
        color: #2196F3;
    }
    
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}