:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}